body{
	
}


.container{
	
}

.button{

}

.button:hover{
}

.clr{
	clear:both;
}

.box-1{

}

.box-1 h1{

}

.box-2{

}

a{
	color:#000;
}

a:hover{
	color:red;
}

a:active{
	color:green;
}

/* a:visited{

} */

.categories{

}

.categories h2{

}

.categories ul{

}

.categories li{

}

.my-form{
	
}

.my-form .form-group{

}

.my-form label{

}

.my-form input[type="text"], .my-form textarea{

}

.block{
	
}

#main-block{

}

#sidebar{

}

.p-box{

}

.fix-me{

}